@page
@model MyPokeDexWeb.Pages.Account.Dexs.AddPokemonModel
@{
	Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}







<style>

	html {
		cursor: url('/images/Cursor.ico'), default;
	}


	.form-control{
		cursor: url('/images/Type.ico'), default;
	}

	.form-label {
		cursor: url('/images/Cursor.ico'), default;
	}

	#btnAdd{
		cursor: url('/images/Pointer.ico'), default;
	}

	.drop{
		cursor: url('/images/Cursor.ico'), default;
	}

	.check, .checkLabel {
		cursor: url('/images/Cursor.ico'), default;
	}

	body {
		background-color: #f8f9fa;
	}



	.card {
		border-radius: 1rem;
		box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
		/* center the element */
		margin-left: -5em;
		margin-right: 0em;
		/* give it dimensions */
		min-width: 700px;
		max-height: 700px;
	}


	.card-body {
		padding: 3.5rem;
	}

	.form-label {
		font-weight: bold;
	}

	.text-danger {
		color: #dc3545;
	}

	.row {
		display: flex;
		align-items: center;
	}

	.col-2 {
		flex: 0 0 auto;
		text-align: right;
		margin-right: 30px;
	}

	.col-10 {
		flex: 1;
	}


	.bg-container {
		position: fixed;
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;
		z-index: -1;
	}

		.bg-container img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			min-width: 50%;
			min-height: 50%;
		}
</style>

<div class="bg-container"><img src="/images/PokemonBackground.png" /></div>
<section>
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-light text-black">
					<div class="card-body p-5 text-center">
						<form method="post">
							<div class="row text-black-danger" asp-validation-summary="All"></div>

							<div class="row m-2">
								<h1>Add Pokemon</h1>
							</div>

							@* <div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.PokemonID" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.PokemonID" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.PokemonID" class="text-danger"></span>
								</div>
							</div> *@

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Name" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Name" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Name" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.DexNumber" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.DexNumber" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.DexNumber" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.TypeID " class="form-label"> </label>
								</div>
								<div class="col-10">
									<select asp-for="NewPokemon.TypeID" asp-items="@Model.Type" class="drop">  </select>
									<span asp-validation-for="NewPokemon.TypeID" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.StateTotal" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.StateTotal" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.StateTotal" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.RegionID" class="form-label"></label>
								</div>
								<div class="col-10">
									<select asp-for="NewPokemon.RegionID" asp-items="@Model.RegionID" class="drop">  </select>
									<span asp-validation-for="NewPokemon.RegionID" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Height" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Height" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Height" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Weight" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Weight" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Weight" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Audio" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Audio" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Audio" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.ImageURL" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.ImageURL" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.ImageURL" class="text-danger"></span>
								</div>
							</div>

							@foreach (CategoryInfo category in Model.categories)
							{
								<input class="check" type="checkbox" name="SelectedCategoryIDs" value="@category.CategoryId" checked="@category.isSelected" />
								<label class="checkLabel">@category.CategoryName</label>
							}

							<div class="row m-2 justify-content-center">
								<div class="col-6">
									<button id="btnAdd" class="btn btn-primary btn-block"><i class="bi bi-plus-circle"></i> Add Pokemon</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>