@page
@using static MyPokeDexWeb.Pages.Account.Dexs.ViewDexItemsModel
@model MyPokeDexWeb.Pages.Account.Dexs.ViewDexItemsModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}
<style>

    html{
        cursor: url('/images/Cursor.ico'), default;
    }

    #btnEdit{
        cursor: url('/images/Pointer.ico'), default;
    }

    #btnDel{
        cursor: url('/images/Pointer.ico'), default;
    }

    #btnView{
        cursor: url('/images/Pointer.ico'), default;
    }

    .drop, .form-label{
        cursor: url('/images/Cursor.ico'), default;
    }



    @@font-face {
        font-family: Pokemon;
        src: url(/Fonts/PokemonFont.ttf);
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        border-style: groove;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    th{
        font-family: Pokemon;
    }

    tr:nth-child(even) {
        background-color: Lightgrey;
    }


    .custom-btn {
        width: 100%;
    }

    .bg-container {
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -1;
    }

        .bg-container img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
        }
    

</style>

<div class="bg-container"><img src="/images/PokemonBackground.png" /></div>
<section>
    <div class="container py-5">
        <form method="post" class="form-group">
            <div class="row m-2">
                <div class="col-1">
                    <label class="form-label">Region</label>
                </div>
                <div class="col-2">
                    <select asp-for="SelectedRegionID" asp-items="Model.RegionID" class="drop"></select>
                </div>
                
            </div>
            <div class="row m-2">
                <div class="col-1">
                    <label class="form-label">Type</label>
                </div>
                <div class="col-2">
                    <select asp-for="SelectedTypeID" asp-items="Model.TypeID" class="drop"></select>
                </div>
            </div>

            <div class="row m-2 justify-content-end">
                <div class="col-2">
                    <button class="btn btn-primary btn-block custom-btn" id="btnView">Display</button>
                </div>
               
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dex Number</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Total State</th>
                            <th>Region</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pokemon in Model.PokemonItems)
                        {
                            <tr>
                                <td>@pokemon.DexNumber</td>
                                <td>@pokemon.Name</td>
                                <td>@pokemon.PokemonTypeID</td> <!-- Display type name here -->
                                <td>@pokemon.StateTotal</td>
                                <td>@pokemon.PokemonRegionID</td> <!-- Display region name here -->
                                <td>@pokemon.Height</td>
                                <td>@pokemon.Weight</td>

                                <td><a asp-page="EditPokemonItem" asp-route-id="@pokemon.PokemonID" class="btn btn-primary" id="btnEdit"><i class="bi bi-pencil-square"></i>Edit</a></td>
                                <td><a asp-page="DeletePokemon" asp-route-id="@pokemon.PokemonID" class="btn btn-danger" id="btnDel" onclick="return confirm('Are you sure you want to delete this Pokemon? this cannot be undone!')"><i class="bi bi-trash3"></i>Delete</a></td>

                            </tr>
                        }


                        
                
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>
