@page
@using static MyPokeDexWeb.Pages.Account.Dexs.ViewDexItemsModel
@model MyPokeDexWeb.Pages.Account.Dexs.ViewDexItemsModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}



<style>
    .btn-primary {
        background-color: red;
        border: none;
    }

        .btn-primary:hover {
            background-color: #990000;
        }



</style>
<section>
    <div class="container py-5">
        <form method="post" class="form-group">
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label">Region</label>
                </div>
                <div class="col-8">
                    <select asp-for="SelectedRegionID" asp-items="Model.RegionID"></select>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" id="btnView">Display</button>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label">Type</label>
                </div>
                <div class="col-8">
                    <select asp-for="SelectedTypeID" asp-items="Model.TypeID"></select>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pokemon ID</th>
                            <th>Dex Number</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Total State</th>
                            <th>Region</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pokemon in Model.PokemonItems)
                        {
                            <tr>
                                <td>@pokemon.PokemonID</td>
                                <td>@pokemon.DexNumber</td>
                                <td>@pokemon.Name</td>
                                <td>@pokemon.PokemonTypeName</td> <!-- Display type name here -->
                                <td>@pokemon.StateTotal</td>
                                <td>@pokemon.PokemonRegionID</td> <!-- Display region name here -->
                                <td>@pokemon.Height</td>
                                <td>@pokemon.Weight</td>
                                <td><a asp-page="EditPokemonItem" asp-route-id="@pokemon.PokemonID" class="btn btn-primary">Edit</a></td>
                            </tr>
                        }

                       

                
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>
