@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}

<style>

    @@font-face {
        font-family: Pokemon;
            src:url(/Fonts/PokemonFont.ttf);
    
    }

    .bg-container{
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -1;
    }
    
    .bg-container img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
    }

    h1{
        font-family:Pokemon;
    }

    p{
        font-family: Pokemon;
        font-weight:500;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        border-style: groove;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: Lightgrey;
    }

    img{
        max-width: 1px;
        height:auto;
    }

    img-container{
       max-width:20px;
       hieght:auto;
    }
   
</style>

<div class="bg-container"><img src="/images/PokemonBackground.png" /></div>

<section class="container-fluid px-0 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Your Pokédex!</h1>
            <p>Start your journey by exploring Pokémon from various regions and adding them to your personal Pokédex.</p>
            <a class="nav-link text-blue" asp-area="" asp-page="/Account/Dexs/AddPokemon">Add Pokémon to Your Dex</a>
        </div>
    </div>
</section>
    


<section>
    <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pokemon ID</th>
                            <th>Dex Number</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Total State</th>
                            
                            <th>Region</th>
                            <th>Height</th>
                            <th>Weight</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pokemon in Model.PokemonItems)
                        {
                            <tr>
                                <td>@pokemon.PokemonID</td>
                                <td>@pokemon.DexNumber</td>
                                <td>@pokemon.Name</td>
                                <td>@pokemon.PokemonTypeID</td> <!-- Display type name here -->
                                <td>@pokemon.StateTotal</td>
                                <td>@pokemon.PokemonRegionID</td> <!-- Display region name here -->
                                <td>@pokemon.Height</td>
                                <td>@pokemon.Weight</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</section>